.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 4rem 0;
}

@media screen and (max-width:768px) {
  .loaderContainer {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
}
