.profileCover {
  position: relative;
}

.profileCover_user {
  display: flex;
  position: absolute;
  left: 1rem;
  bottom: 1.75rem;
  gap: 1rem;
  align-items: flex-start;
  z-index: 3;
}

.profileCover_user_img_container {
  border-radius: 9999px;
  background-color: #e5e7eb;
  width: 140px;
  height: 140px;
  border: 1px solid var(--primary-text-color);
  position: relative;
}

.profileCover_user_img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profileCover_user_info {
  padding-top: 2.25rem;
}

.profileCover_user_info_name {
  font-size: 1.35rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: white;
}

.profileCover_user_info_username {
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0.6;
  color: white;
}

.profileCover_stats_container {
  position: relative;
  z-index: 2;
}

.profileCover_coverImg {
  display: flex;
  align-items: flex-end;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  width: 100%;
  background-color: #e5e7eb;
  height: 250px;
}

.profileCover_stats_container_inner {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  gap: 3rem;
  justify-content: flex-end;
  width: 100%;
  background: var(--bg-elevation-1);
}

@media screen and (max-width: 768px) {
  .profileCover_user {
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    bottom: 6rem;
  }
  .profileCover_coverImg {
    height: 180px;
  }
  .profileCover_user_info_username {
    text-align: center;
    color: var(--primary-text-color);
  }
  .profileCover_user_info_name {
    text-align: center;
    color: var(--primary-text-color);
  }
  .profileCover_user_info {
    padding-top: 0.8rem;
  }
  .profileCover_user_img_container {
    width: 120px;
    height: 120px;
  }
  .profileCover_stats_container_inner {
    justify-content: center;
    padding: 1rem 2rem;
    padding-top: 8rem;
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width:600px) {
  .profileCover_stats_container_inner {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 7rem;
  }
  .profileCover_user_img_container {
    width: 100px;
    height: 100px;
  }
  .profileCover_user_info_name{
    font-size: 1.15rem;
  }

  .profileCover_user_info_username {
    font-size: 0.8rem;
  }

  .profileCover_user {
    bottom: 5rem;
  }

  .profileCover_coverImg {
    height: 150px;
  }
  
}
