.storiesCollection {
  padding: 1rem;
  border-radius: 0.75rem;
  width: 100%;
  background: var(--bg-elevation-1);
}

.storiesCollection_container {
  display: flex;
  overflow-x: auto;
  gap: 1.25rem;
  align-items: center;
  max-width: 100%;
}

.storyElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyElement_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.storyElement_container:hover {
}

.storyElement_container_active {
  border-color: #4858d1;
  border-radius: 50%;
  border-width: 1px;
}

.storyElement_container_inactive {
  border-color: #404040;
  border-radius: 50%;
  border-width: 1px;
}

.storyElement_container_image {
  border-radius: 0.75rem;
  width: 67px;
  border-radius: 50%;
  height: 67px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.storyElement_container_image:hover {
  width: 62px;
  height: 62px;
}

.storyElement_name {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide the overflowing content */
  text-overflow: ellipsis; /* Truncate the text with an ellipsis */
  text-align: center;
  line-height: 1.25rem;

}

@media screen and (max-width: 768px) {
  .storiesCollection {
    background-color: transparent;
    padding: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--header-divider-color);
    border-radius: 8px;
    
  }

  .storyElement_container {
    width: 60px;
    height: 60px;
  }

  .storyElement_container_image {
    width: 57px;
    height: 57px;
  }

  .storyElement_name {
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 450px) {
  .storyElement_container {
    width: 52px;
    height: 52px;
  }
  .storyElement_container_image {
    width: 50px;
    height: 50px;
  }
  .storyElement_name {
    font-size: 0.65rem;
  }
}
