.storiesCollection {
  padding: 1rem;
  border-radius: 0.75rem;
  width: 100%;
  background: #282828;
}

.storiesCollection_container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  align-items: center;
  max-width: 100%;
}

.storyElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyElement_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  
}

.storyElement_container:hover {

}

.storyElement_container_active {
  border-color: #4858d1;
  border-radius: 50%;
  border-width: 1px;
}

.storyElement_container_inactive {
  border-color: #404040;
  border-radius: 50%;
  border-width: 1px;
}

.storyElement_container_image {
  border-radius: 0.75rem;
  width: 75px;
  border-radius: 50%;
  height: 75px;
}

.storyElement_name {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
