:root {
  --logo-font: 'Logo','Big Shoulders Inline Text', cursive;
  --primary-font: 'Manrope', sans-serif;

  --primary-color: #5367ff;
  --secondary-color: '#00ffc4';

}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--primary-font);
}


a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


/* Common css */
.font-logo {
  font-family: var(--logo-font);
}

