.home {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 2rem;
}
.home_left {
  width: 100%;
}
.home_center {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.home_right {
  width: 100%;
}
