.userProfile {
  display: grid;
  position: relative;
  gap: 1.5rem;
  width: 100%;
  grid-template-columns: 4fr 1.2fr;
}

@media screen and (max-width: 1250px) {
  .userProfile {
    grid-template-columns: 3.5fr 1.2fr;
  }
}

@media screen and (max-width: 1024px) {
  .userProfile_additionals {
    display: none;
  }
  .userProfile {
    grid-template-columns: 1fr;
  }
}

.userProfile_info {
  display: grid;
  grid-template-columns: 1.4fr 3fr;
  margin-top: 1.25rem;
  gap: 1.25rem;
  width: 100%;
}


@media screen and (max-width: 650px) {
  .userProfile_info {
    grid-template-columns: 1.8fr 3fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .userProfile_info {
    grid-template-columns: 1fr;
  }
}

.userProfile_collections {
  margin-top: 1rem;
}

.userProfile_posts_list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}
