.header {
  padding: var(--header-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: var(--header-marginBottom);
  background-color: var(--header-bg-color);
}

.header_left_logoText {
  display: none;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex: 1;
}

.header_left_logo_img {
  width: 42px;
  height: 42px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.header_left_logo_img:hover {
  transform: scale(0.92);
}

.header_left_search input {
  background-color: var(--bg-elevation-1c);
  outline: none;
  appearance: none;
  border-radius: 12px;
  padding: 0.6rem 0.8rem;
  border: none;
  width: 200px;
}

.header_left_search input::placeholder {
  font-size: 0.8rem;
  font-family: var(--primary-font);
  font-weight: 500;
}

.header_center {
  flex: 1;
}

.header_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@media (max-width: 1500px) {
  .header {
    padding-left:2.1rem;
    padding-right:2.1rem;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    padding: 1.8rem 1rem;
  }
}

@media screen and (max-width:768px) {
  .header {
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: transparent;

  }
  .header_left_search {
    display: none;
  }
  .header_left_logoText {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 2px;
  }

  .header_left {
    gap: 0.5rem;
  }
  .header_left_logo_img {
    width: 38px;
    height: 38px;
  }
}

@media screen and (max-width:400px) {
  .header_left_logo_img {
    width: 35px;
    height: 35px;
  }
  .header_left_logoText {
    font-size: 0.9rem;
  }
  .header {
    padding: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.5rem;
  }
}