.profile_switcher {
  width: fit-content;
  padding: 0.35rem 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 32px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--elevation-1);
}

.profile_switcher:hover {
  background-color: var(--elevation-2);
}

.profile_switcher:hover .profile_switcher_info_img img {
  border: 2px solid var(--primary-color);
}

.profile_switcher_info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile_switcher_info_name {
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.profile_switcher_info_img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.profile_switcher_info_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.profile_switcher_info_img {
  position: relative;
}

@media screen and (max-width: 768px) {
  .profile_switcher {
    background-color: transparent;
    border: none;
    gap: 6px;
  }
  .profile_switcher_info_name {
    display: none;
  }

  .profile_switcher_dropdown {
    font-size: 1.2rem;
  }
  .profile_switcher_info_img {
    width: 38px;
    height: 38px;
  }
  .profile_switcher_info_img img {
    border-radius: 50%;
  }

}

@media screen and (max-width:400px) {
  .profile_switcher_info_img {
    width: 35px;
    height: 35px;
  }
}